.tarefa-detalhe {
  background-color: white;
  width: 100%;
  max-width: 30rem;
  min-height: 10rem;
  border-radius: 1rem;
}

.tarefa-detalhe header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: .5rem 1rem;
}

.tarefa-detalhe header h1 {
  font-size: 1rem;
  color: #5167f6;
}

.tarefa-detalhe header button {
  display: block;
  color: #5167f6;
  width: 16px;
  height: 16px;
}

.tarefa-detalhe p {
  font-size: 0.8rem;
  padding: 1rem;
  color: black;
  font-family: 'SuisseIntl-Regular';
  word-wrap: break-word;
}
