header {
  width: 100%;
  padding: 1rem 0;
  border-bottom: 0.1rem solid rgba(139, 139, 139, 0.158);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.botoes {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.btn {
  font-size: 1rem;
  padding: 0.5rem;
  border-radius: 3rem;
  width: 3rem;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn.azul {
  background-color: #dce1fd;
}

.btn.roxo {
  background-color: #be9cf3;
}
