@import url(https://db.onlinewebfonts.com/c/88f10bf18a36407ef36bf30bc25a3618?family=SuisseIntl-Regular);
@import url(https://db.onlinewebfonts.com/c/d1a580023d40c546276decde1c711e60?family=SuisseIntl-Bold);

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  display: block;
}

html {
  font-size: 62.5%;
  font-family: 'SuisseIntl-Bold';
}

button {
  background-color: transparent;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1286px;
  margin: 0 auto;
  padding: 0 15px;
}

.dias-semana {
  display: grid;
  grid-template-columns: repeat(6, 16.66666%);
}

.principal {
  width: 100%;
  position: relative;
}

.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.show {
  display: flex;
}
